## [Start] Setting "country" to default value of "Canada". **
$util.qr($context.args.input.put("country", $util.defaultIfNull($ctx.args.input.country, "Canada")))
## [End] Setting "country" to default value of "Canada". **
## [Start] Setting "isOnboardingComplete" to default value of "false". **
$util.qr($context.args.input.put("isOnboardingComplete", $util.defaultIfNull($ctx.args.input.isOnboardingComplete, false)))
## [End] Setting "isOnboardingComplete" to default value of "false". **
{}